.body123{
    background-color: #f1f3f6;
}
.carousel-container{
    margin-top: 10px;
}

.top_deal{
    margin-top:30px;
    display: block;
}

.top_deal_header{
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    /* background-color: antiquewhite; */
    background-color: white;
    padding: 10px;
    /* border: thistle; */
    /* border-style: dashed; */
    /* border-bottom:linen; */
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.top_deal_header h3{
    margin-left: 10px;
}

.top_deal_header button{
    margin-right: 10px;
}
