.container-fluid{
    background:#2c3e50;
}

.searchbar-container{
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.text {
    width:800px;
    margin-top: 15px;
}

#cart{
    color: white;
}

.click{
    background-color:#F79F1F;
}