.carousel-items {
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
    flex-direction: column;
}

.carousel-items .carousel-items-img{
    width:150px;
    height:150px;
    border-radius:5px;
}


.carousel-items ul{
    list-style: none;
    margin-right: 20px;
}

.carousel-items ul li:nth-child(2){
    color: green;
}

.carousel-items ul li:nth-child(3){
    color: grey;
}