.navbar{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    background-color:#005469;
    color:white;
    overflow:hidden;
}

.brand{
    text-decoration: none;
    color:white;
    font-size: 30px;
}

.brand:hover{
    color:red;
}

.search-box{
    width:500px;
}

.search-box Button{
    padding:12px;
    width:60px;
    border-style: none;
    background-color:darkgoldenrod;
    cursor: pointer;
}

.search-box button:hover{
    background-color:orange;
}

.nav-links{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    list-style: none;
}

.Order,
.Cart,
.Login{
    text-decoration: none;
    color:white;
    font-size:20px;
    margin-right:80px;
    cursor: pointer;
}

.nav-links li:hover{
    color:red;
}

.mobile-menu-icon{
    display:none;
}

@media screen and (max-width:1200px)
{
    .search-box{
        display:none;
    }

    .nav-links{
        display:none;
    }

    .nav-links-mobile{
        display:block;
        list-style: none;
        background-color:#005469;
        transition:all 0.1s ease- out;
        width:100%;
        height: 220px;
    }

    .nav-links-mobile li:hover{
        color: red;
    }

    .show-search{
        display:block;
        position: relative;
        top: 230px;
        width: 100%;
        margin-left: calc(100% - 90%);
        margin-right: calc(100% - 90%);
    }

    .show-search button{
        width:50px;
        border-style: none;
        background-color:darkgoldenrod;
    }

    .show-search button:hover{
        background-color:orange;
    }

    .Order,
    .Cart,
    .Login{
    text-decoration: none;
    color:white;
    text-align: center;
    padding: 32px;
    width:100%;
    transition:all 0.5s ease;
    border:none;
}


.mobile-menu-icon{
    position:absolute;
    display:block;
    font-size:30px;
    background-color:#005469;
    border: none;
    outline:none;
    top: 5px;
    right:25px;
    cursor: pointer;

}

}
